body {
    font-family: Helvetica, 'sans-serif';
    margin: 20px;
    font-size: 62.5%;
    max-width: 960px;
}
h1 {
    font-size: 64px;
    font-size: 4rem;
}
label {
    display: block;
    clear: both;
    font-size: .8rem;
}

.full {
    width: 100%;
}

.half {
    width: 50%;
}

.left {
    float: left;
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
    h1 {
        font-size: 42px;
        font-size: 3.2 rem;
    }
    .half {
        width: 100%;
        margin-top: 20px;
    }
}
