#selectFixerParent {
    margin: 0px;
    padding: 0px;
    width: 150px;
    background: #fff;
    cursor: pointer;
}

#selectFixerParent > span {
    padding: 5px 5px;
    border: 1px solid #ccc;
    display: block;
    font-size: 13px;
    font-size: .8rem;
}

#selectFixerParent > span:hover {
    border: 1px solid #333;
}

#listParent {
    border: 1px solid #ccc;
    border-top: 0px solid #ccc;
    display: none;
}

dl {
    height: 50%;
    height: 150px;
    overflow: auto;
    margin-top: 0px;
    z-index: 99;
    position: relative;
    top: 0px;
}

dt {
    font-size: 13px;
    font-size: .8rem;
    padding: 5px 5px;
    display: block;
}

dt:hover {
    color: #fff;
    background: #000;
}

p.arrow {
    display: inline;
    float: right;
    margin: 0px;
    padding: 0px;
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
    #selectFixerParent {
        width: 100%;
    }
    #selectFixerParent.selecting {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: auto;
        height: 100%;;
    }
    #selectFixerParent.selecting dl {
        height: auto;
        height: 100%;;
    }
    #selectFixerParent.selecting dt:hover {
        color: #000;
        background: #fff;
    }
    #selectFixerParent.selecting * {
        font-size: 24px;
        font-size: 2rem;
    }
}
